<p id="notice"><%= notice %></p>

<div class="col-md-6 col-xs-12">
<%= image_tag(@product.image_url, class: "thumbnail img-responsive") %>  
</div>

<div class="col-md-3 col-xs-12 product-description">
    
    <h2 class="fun-font">
      <%= @product.name %>
    </h2>
    <h5>
      <%= @product.description %>
    </h5>
  <p>
    <strong>Flavour:</strong>
    <%= @product.flavour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>
  <p><strong>Average Rating:</strong><div class="rated" data-score="<%= @product.average_rating %>"></div>
  </p>
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
<div class="col-md-3"
  <%= render partial: "new_comment" %>
</div>

<div class= "col-xs-12">
  <h1 class= "fun-font">Reviews</h1>

  <p><%= render partial: "comments" %></p>
  <p> <%= will_paginate @comments %></p>
</div>



